body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table *{
  padding: calc(0.5vw + 0.5vh) calc(0.5vw + 0.5vh);
  
}
table{
  display: inline-block;
  margin-top: calc(2vw + 2vh);
}
.divTable{
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

.create{
  background-color: lightblue;
  cursor: pointer;
  border-radius: calc(2vw + 2vh);
  padding: calc(0.5vw + 0.5vh) calc(0.5vw + 0.5vh);
  color: gray;
}

.create:hover{
  color:white;
}

.eliminar{
  background-color: lightcoral;
  cursor: pointer;
  border-radius: calc(0.2vw + 0.2vh);
  padding: calc(0.5vw + 0.5vh) calc(0.5vw + 0.5vh);
  color: balck;
}

.eliminar:hover{
  color:white;
}