body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table *{
  padding: calc(0.5vw + 0.5vh) calc(0.5vw + 0.5vh);
  
}
table{
  display: inline-block;
}
.divTable{
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
